大作业题目：RISC-V处理器设计与实践
本作业基于开源RISC-V项目：tinyriscv
(https://gitee.com/liangkangnan/tinyriscv/tree/master)
具体要求如下：
1. 每人独立的对tinyriscv进行修改，添加课程要求的拓展指令
2. 在FPGA上进行功能验证（助教提供运行指令）
3. 进行综合、仿真、后端等工作，提供DRC与LVS clean的gds文件
4. 对流片回来的芯片进行功能与性能测试。
时间安排：
FPGA验证时间：2026.6 之前；流片时间：~2026.8；
测试时间：2026.11~2026.12（下学期期末给成绩）
2026/4/9

1

大作业题目：RISC-V处理器设计与实践

* 为了提高面积的利用率，流片前需将两颗及更多芯片放在一个IO Ring内部共用IO，

通过chip_sel信号选择工作的芯片。
2026/4/9

2

2026/4/9

3

